html {
  /* On définit des variables pour stocker les couleurs qu'on va réutiliser plusieurs fois, avec une version plus foncée pour le survol*/

  --blue-basic: #88c9f9;
  --blue-dark: #63b8f5;
  --green-basic: #5c913b;
  --green-dark: #498821;

  /* On enregistre le bleu comme notre couleur par défaut */
  --color-basic: var(--blue-basic);
  --color-dark: var(--blue-dark);
  --border-normal: 1px solid rgba(0, 0, 0, .2);
  --color-bg: rgba(248, 248, 248, 0.842); /* Newsletter */
  --color-opacity: rgba(0, 0, 0, .1);
}

body {
  font-family: 'Gill Sans', sans-serif;
  transition: background-color .3s; /* Instaure une petite transition pour la mise en place de la couleur de fond */
}

/* Dès qu'on survol un lien, on le passe en foncé*/
a:hover {
  color: var(--color-dark);
}

p, h3 {
  line-height: 1.3;
  text-align: center;
}

.container {
  width: 96%;
  max-width: 70em;
  margin: 0 auto;
}

.btn {
  background-color: var(--color-basic);
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 0.5rem;
  display: inline-block;
}

.btn__more {
  margin: auto;
}

/* Au survol les boutons foncent */
.btn:hover, .btn:focus {
  background-color: var(--color-dark);
  color: white;
}

/* Message crée via le module messages - Bouton"see more" */
.message {
  padding: 1rem;
  border-radius: 3px;
  background-color: rgb(185, 221, 250);
  color:rgb(48, 48, 48);
  margin-bottom: 1rem;
}

/*** Header */
.header__part {
  border-bottom: var(--border-normal);
}

/* On passe les éléments en flex pour les mettre aux extremités */
.header__flex {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.logo__image {
  margin-right: 0.5rem;
  width:0.92em;
}

.menu {
  display: flex;
  align-items: center; /* On aligne verticalement les liens du menu*/
}

.color-button {
  border: 0;
  border-radius: 50%;
  color: white;
  padding: .7rem;
  display: inline-block;
  margin-left: .3rem;
}
.menu__color-switcher {
  margin-left: .7rem;
}

/* Gestion des couleurs */
/* On récupère les variables définies plus haut pour reprendre les mêmes couleurs*/
#color-blue {
  background-color: var(--blue-basic);
}
#color-green {
  background-color: var(--green-basic);
}

/* Au survol, on met les couleurs plus foncées*/
#color-blue:hover {
  background-color: var(--blue-dark);
}
#color-green:hover {
  background-color: var(--green-dark);
}

.menu__item {
  margin-right: 1rem;;
}

.submenu {
  text-align: center;
  color: #666;
  font-size: 0.9em;
}

.submenu__item {
  padding: 1rem 0.5rem;
  display: inline-block;
}

.submenu__item--current {
  border-bottom: 2px solid #666; /* Ajout d'une bordure sur l'onglet séléctionné*/
  font-weight: bold;
}

/* content */
.content {
  padding: 1rem;
}

.content__title {
  font-size: 2em;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.segment {
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--color-opacity);
}

.segment__title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  padding: 1rem;
  width: 100%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  margin: 0.5rem 0;
  font-weight: bold;
}

.card__action {
  margin-top: 1rem;
  display: flex;
}

.card__action .btn {
  margin-right: 0.25rem;
}

/*** slider */
.slider {
  position: relative; /*Occupe espace container*/
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__title{
  z-index: 2;
}

.slider__img {
  position: absolute; /*Remplit element slider*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity .5s;
}

.slider__img--current {
  opacity: 1;
  z-index: 1;
}

.slider__btn {
  position: relative;
  z-index: 2; /* permet d'être en premier plan */
  font-weight: bold;
}


/*** newletter */

.newsletter {
  position: fixed;
  z-index: 9;
  right:0;
  bottom: 0;
  background-color: var(--color-bg);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: var(--border-normal);
  padding: 2rem;
  width: 25em;
  max-width: 100%;
  display: none;
}

.newsletter--on {
  display: block;
  animation: .3s 0s 1 pop;
}


.newsletter__title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.newsletter__field {
  border: var(--border-normal);
  padding: 0.25rem;
  border-radius: 5px;
}

.newsletter__close {
  position: absolute;
  right: 0;
  top: 0;
}

/* bottom */
.footer {
  background-color: #222;
  color: #aaa;
  text-align: center;
  padding: 3rem 1rem;
}

/*** dark mode */
/*Quand on passe au mode dark, on modifie les couleurs des différents éléments du site pour qu'elles soient plus claires*/
/*On définit de nouvelles variables contenant ces couleurs*/
.mode-dark, .mode-dark a {
  color: white;
  background-color: rgb(53,53,53);
  --border-normal: 1px solid rgba(255, 255, 255, .2);
  --color-bg: rgb(15, 15, 15);
  --color-opacity: rgba(255, 255, 255, .1);
}

.color-blue {
  --color-basic: var(--blue-basic);
  --color-dark: var(--blue-dark);
}
.color-green {
  --color-basic: var(--green-basic);
  --color-dark: var(--green-dark);
}


/* .theme-dark #theme-switch .icon-moon::before {
  content: "\e906";
} */

/* responsive */
@media screen and (min-width: 40em) {
  .header__flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    width: calc((100% - 1rem) / 2);
  }
}

@media screen and (min-width: 60em) {
  .card {
    width: calc((100% - 2rem) / 3);
  }
}