html {
    /* On définit des variables pour stocker les modes de couleurs, avec une version plus foncée pour le survole etc*/
    --first-color-basic: #daa172;
    --first-color-dark: #db9459;
    --second-color-basic: #59bbbb;
    --second-color-dark: #3bb3b3;
  
    /* On enregistre la first color comme notre couleur par défaut */
    --color-basic: var(--first-color-basic);
    --color-dark: var(--first-color-dark);
    --color-bg: rgba(248, 248, 248, 0.842); /* Newsletter */
    --color-opacity: rgba(197, 197, 197, 0.1);
  }
  
  body {
    font-family: 'Gill Sans', sans-serif;
    transition: background-color .3s; /* Instaure une petite transition pour la mise en place de la couleur de fond */
  }
  
  /* Dès qu'on survole un lien, on le passe en foncé*/
  a:hover {
    color: var(--color-dark);
  }
  
  p, h3, h2 {
    line-height: 1.3;
    text-align: center;
  }
  
  .button {
    background-color: var(--color-basic);
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 0.5rem;
    display: inline-block;
  }
  
  .btn__more {
    margin: auto;
  }
  
  /* Au survole les boutons foncent */
  .button:hover, .button:focus {
    background-color: var(--color-dark);
    color: white;
  }
  
  /* Message crée via le module messages - Bouton"see more" */
  .message {
    padding: 1rem;
    border-radius: 3px;
    background-color: rgb(185, 221, 250);
    color:rgb(48, 48, 48);
    margin-top: 1rem;
  }
  
  /*** Header */
  /* Bordure de la barre de nav*/
  .first__header__part, .second__header__part {
    border-bottom: solid 1px var(--color-basic);
  }
  
  .first__menu__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    color:var(--color-dark);
  }
  
  .logo--off{
    display:none;
}

  .logo--on{
      display:block;
      margin: auto;
  }

  .menu__color {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

    .color-button {
    border: 0;
    border-radius: 50%;
    padding: 0.8em;
    margin-right: 0.4em;
  }


  /* Gestion des couleurs */
  /* On récupère les variables définies plus haut pour reprendre les mêmes couleurs*/
  #first-color {
    background-color: var(--first-color-basic);
  }
  #second-color {
    background-color: var(--second-color-basic);
  }
  
  /* Au survol, on met les couleurs plus foncées*/
  #first-color :hover {
    background-color: var(--first-color-dark);
  }
  #second-color:hover {
    background-color: var(--second-color-dark);
  }
  
  .second__menu {
    text-align: center;
    color:  var(--color-dark);
  }
  
  .second__menu__item {
    padding: 1em;
    display: inline-block;
  }
  
  .current--menu {
    border-bottom: 2px solid var(--color-dark); /* Ajout d'une bordure sur l'onglet séléctionné*/
    font-weight: bold;
  }
  
  /*** content */

  .content {
    padding: 2em;
  }
  
   /*Intro slider*/
  .intro__content__title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  /* Sections elements*/
  .main__part {
    padding: 1em;
    background-color: var(--color-opacity);
  }
  

  .main__part__title{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top:2em;
    color: var(--color-dark);
    border-bottom: 1px solid var(--color-dark); 

  }

  .main__part__subtitle {
    font-size: 1.1em;
    margin-bottom: 1em;
    font-style: italic;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    padding: 1rem;
    width: 100%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .card__title {
    margin: 0.5rem 0;
    font-weight: bold;
  }
  
  .card__action {
    display: flex;
    margin:auto;
    margin-top: 1rem;
  }

  .legende{
    color:#aaa;
    font-size: 0.9em;
  }
  
  .card__action .button {
    margin-right: 0.25rem;
  }

  .tags{
    font-size: 0.8em;
    margin-top:0.9em;
    margin-left: auto;
  }

  /*** About */
  
  .card__about{
    padding: 1em;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  
  .card__image__container{
    display: flex;
    flex-direction: column;
  }

  .card__image__element{
    width: 100%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: auto;
  
  }

  .about__title{
    color:var(--color-dark);
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .about__desc{
    margin-bottom: 1em;
  }
  
  .text-bold{
    font-weight: bold;
  }

  /*** slider */
  .slider {
    position: relative; /*Occupe espace container*/
    height: 25em;
    display: flex;
    flex-direction: column;
  }

  #slider__buttons {
    padding-bottom: 10em;
  }
  
  .slider__title{
    z-index: 2;
    position: relative;
    margin-bottom: 5.8em;
    padding:0.5em;
  }
  
  .slider__img {
    position: absolute; /*Remplit element slider*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity .5s;
  }
  
  .slider__img--current {
    opacity: 1;
    z-index: 1;
  }
  
  #slider__buttons{
    z-index: 2; /* permet d'être en premier plan */
    position: relative;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .slider__title{
    display:none;
  }

  .slider__title--current {
    display:inline-block;
    opacity: 1;
    z-index: 2;
    font-size: 1.5em;
    text-align: right;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
  }

  /*** Tips */
  .tip__title{
    /* Titre interpreté comme cliquable*/
    cursor: pointer;
    font-size: 1.1em;
    background-color: var(--color-basic);
    padding: 0.4em 0em;

  }
  .tip__arrow {
    float: right;
    padding-right: 0.1em;
  }

  .tip__arrow__first{
    transform: rotate(90deg)
  }

  /*Contenu caché par défaut*/
  .tip__text{
    overflow: hidden;
    max-height: 0;
  }

  /*Quand ajout classe "open", on montre le contenu*/
  .open + .tip__text {
    max-height: 400px;
    padding: 1em 0em 2em 0em;
    transition: max-height 0.8s ease; /*Ouverture progressive entière*/

}

  /*** newletter */
  
  .newsletter {
    position: fixed;
    z-index: 9;
    background-color: var(--color-bg);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--color-basic);
    padding: 2.5em;
    width: 22em;
    max-width: 100%;
    display: none;
    /*To center the element*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .newsletter--on {
    display: block;
  }
  
  
  .newsletter__title {
    font-weight: bold;
    margin-bottom: 1em;
    text-align: left;
  }

  .newsletter__text{
    font-style: italic;
    font-size: 0.9em;
    padding-bottom: 0.5em;
    text-align: left;
  }
  
  .newsletter__field {
    border: 1px solid var(--color-basic);
    padding: 0.25rem;
    border-radius: 5px;
  }
  
  .newsletter__close {
    position: absolute;
    right: 0;
    top: 0;
  }

  
  /* bottom */

  .social__medias{
    text-align: center;
  }

  .social__medias__link{
    color: var(--color-basic);
    font-size: 1.6em;
  }

  .footer {
    background-color: #222;
    color: #aaa;
    text-align: center;
    padding: 3rem 1rem;
  }
  
  .social__link{
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .social__link:hover{
    font-weight: bold;
    color:white;
  }
  
  /*** dark mode */
  /*Quand on passe au mode dark, on modifie les couleurs des différents éléments du site pour qu'elles soient plus claires*/
  /*On définit de nouvelles variables contenant ces couleurs*/
  .mode-dark, .mode-dark {
    color: white;
    background-color: #222;
    --color-bg: #222;
    --color-opacity: rgb(205 205 205 / 10%);
  }
  
  /*** colors mode */
  /* A l'évenement click, le classe du body passe de first-color à second-color
  Tous les éléments définis avec color-basic et color-dark s'adaptent alors*/
  .first-color {
    --color-basic: var(--first-color-basic);
    --color-dark: var(--first-color-dark);
  }
  .second-color {
    --color-basic: var(--second-color-basic);
    --color-dark: var(--second-color-dark);
  }
  
  /*** responsive */
  /*A partir du smartphone et jusqu'à la tablette*/
  @media screen and (min-width: 425px) {
    /*On affiche deux articles par ligne, en laissant une petite marge*/
    .card {
      width: calc((100% - 2em) / 2);
    }

  }

  /*A partir de la tablette*/
  @media screen and (min-width: 768px) {
    /*on affiche la photo à gauche*/
    .card__about{
      flex-direction: row;
    }
    
    .card__image__element{
      width: 60%;
      margin-left:0 5em;
    }

    .card__body{
      margin-right: 5em;
    }
  }

  /*A partir du laptop*/
  @media screen and (min-width: 1024px) {
    /*On affiche deux articles par ligne, en laissant une petite marge*/
    .card {
      width: calc((100% - 2em) / 3);
    }
  }